<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Welcome</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
<h1>Bienvenue sur le site de commerce !</h1>
<a th:href="@{/inscription}">S'inscrire</a>
<a th:href="@{/connexion}">Se connecter</a>

<!--

   In Thymeleaf the equivalent of
   JSP's ${pageContext.request.contextPath}/edit.html
   would be @{/edit.html}

   -->
<br>
<a th:href="@{/prod}">Voir la liste des produits</a>

</body>

</html>