<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
<h1>Liste des produits</h1>
<h2>Choisissez une catégorie:</h2>
<a th:href="@{/prod/catégorie/Informatique}">Informatique</a>
<a th:href="@{/prod/catégorie/Livre}">Livre</a>
<a th:href="@{/prod/catégorie/Nourriture}">Nourriture</a>
<a th:href="@{/prod/catégorie/Vêtements}">Vêtements</a>
<a th:href="@{/prod/catégorie/Bricolage}">Bricolage</a>
<br> <a th:href="@{/prod/prixCroissant}">Du moins cher au plus cher</a>
<br> <a th:href="@{/prod/prixDecroissant}">Du plus cher au moins cher</a>

<ul th:each ="produit : ${produits}">
    <li>Nom: <h6 th:utext="${produit.getNom()}"></h6></li>
    <li>Prix: <h6 th:utext="${produit.getPrix()}"></h6></li>
     <button>Acheter</button>
</ul>

<a th:href="@{/ajouter}">Ajouter un nouveau produit</a>

</body>
</html>